{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="max-width content">
        <h1>Matérias  {{user.username}} {{ user.id }}</h1>
        <a href="{% url 'summaries:create-subject' %}">NOVA MATÉRIA</a>
        <div class="subjects-container">
            {% for subject in subjects %}
                <div class="box-subjects">
                    <span>{{ subject.name }}</span>
                    <a href="#">Create summarie</a>
                    <a href="#">Access summaries</a>
                    <a href="#">Edit subject</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

