{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="max-width content">
        <h1>Matérias  {{user.username}} </h1>
        <a href="{% url 'summaries:create-subject' %}">NOVA MATÉRIA</a>
        <div class="subjects-container">
            {% for subject in subjects %}
                <div class="box-subjects">
                    <span>{{ subject.name }}</span>
                    <a href="{% url 'summaries:create-summarie' %}">Criar Resumo</a>
                    <a href="{% url 'summaries:summaries' %}">Acessar Resumos</a>
                    <a href="{% url 'summaries:update-subject' subject.id %}">Editar matéria</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

