{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="max-width content">
        <h1>Matérias  {{user.username}} {{ user.id }}</h1>
        <a href="{% url 'summaries:create-subject' %}">NOVA MATÉRIA</a>
        <p>Here it goes</p> 
        {% for subject in subjects %}
            <p>It's working<p>
            <div class="box-subjects">
                <span>{{ subject.name }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}

